<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
      </ol>

      <div class="category-info clearfix">
        <h1>Basket</h1>
      </div>

      <div class="category-list box clearfix" style="margin-bottom: 20px">

        <div class="box-heading">
          <span>Choose action with basket</span>
        </div>

        <ul>
          <li><a class="btn btn-warning" href="<%= checkout_path %>">Checkout</a></li>
          <%= simple_form_for :clear, url: '/basket/clear' do |form| %>
            <li><button class="btn btn-warning" href="">Clear basket</button></li>
          <% end %>
        </ul>
      </div>

      <div class="box-product product-list">
        <% @products.uniq.each do |product| %>
          <div class="item">
            <div class="image">
              <a href="/products/<%= product['id'] %>">
                <img src="<%= product['photo']['url'] %>" title="<%= product['name'] %>" alt="<%= product['name'] %>">
              </a>
            </div>
            <div class="caption">
              <div class="name">
                <a href="/products/<%= product['id'] %>"><%= product['name'] %></a>
              </div>
              <div class="description">
                <%= product['description'] %>
              </div>

              <div class="price">
                <div>
                  <span class="price-fixed"><%= @products.count(product) %> X <%= product['price'] %> BTC</span>
                </div>
              </div>

              <div class="cart">
                <%= simple_form_for :add, url: ('/basket/add/' + product['id'].to_s) do |form| %>
                  <button class="btn btn-success" type="submit" >
                    <i class="fa fa-shopping-cart"></i> <span>Add another</span>
                  </button>
                <% end %>

                <%= simple_form_for :delete, url: ('/basket/delete/' + product['id'].to_s) do |form| %>
                  <button class="btn btn-danger" type="submit" >
                    <i class="fa fa-shopping-cart"></i> <span>Delete one</span>
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>