<div class="container">
  <div id="notification"></div>

  <div id="content">

    <ol class="breadcrumb">
      <li><a href="<%= admin_products_path %>">Home</a></li>
      <li><a href="<%= basket_path %>">Basket</a></li>
      <li><a href="<%= checkout_path %>">Checkout</a></li>
    </ol>

    <div class="page-header">
      <h1>Checkout</h1>
    </div>

    <%= simple_form_for :order, url: '/checkout' do |form| %>
      <div class="checkout panel-group">
        <div id="checkout" class="panel panel-default">
          <div class="checkout-heading panel-heading">Step 1: Name Options</div>
          <div class="checkout-content panel-body">

            <div class="form-group">
              <%= form.input :name, label: 'Add Name To Your Order', input_html: { value: @user.name, class: 'form-control' } %>
            </div>

          </div>
        </div>

        <div id="checkout" class="panel panel-default">
          <div class="checkout-heading panel-heading">Step 2: Phone Options</div>
          <div class="checkout-content panel-body">

            <div class="form-group">
              <%= form.input :phone_number, label: 'Add Phone To Your Order', input_html: { value: @user.phone_number, class: 'form-control' } %>
            </div>

          </div>
        </div>

        <div id="checkout" class="panel panel-default">
          <div class="checkout-heading panel-heading">Step 3: Address Options</div>
          <div class="checkout-content panel-body">

            <div class="form-group">
              <%= form.input :dest_address, label: 'Add Destination Address To Your Order', input_html: { class: 'form-control' } %>
            </div>

          </div>
        </div>

        <div id="confirm" class="panel panel-default">
          <div class="checkout-heading panel-heading">Step 4: Confirm Order</div>
          <div class="checkout-content panel-body">
            <div class="checkout-product table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th class="name">Product Name</th>
                  <th class="model">Model</th>
                  <th class="quantity">Quantity</th>
                  <th class="price">Price</th>
                  <th class="total">Total</th>
                </tr>
                </thead>

                <tbody>
                <% @products.uniq.each do |product| %>
                  <tr>
                    <td class="name">
                      <a href="/products/<%= product['id'] %>"><%= product['name'] %></a>
                      <br>
                    </td>
                    <td class="model"><img src="<%= product['photo']['url'] %>" alt="<%= product['name'] %>"></td>
                    <td class="quantity"><%= @products.count(product) %></td>
                    <td class="price"><%= product['price'] %></td>
                    <td class="total"><input name="order[order_price]" type="hidden" value="<%= product['price']*@products.count(product) %>"><%= product['price']*@products.count(product) %></td>
                  </tr>
                <% end %>
                </tbody>

                <tfoot>

                <tr>
                  <td colspan="4" class="price text-right">
                    <b>Sub-Total:</b>
                  </td>
                  <td class="total"><%= @basket.sum %></td>
                </tr>
                <tr>
                  <td colspan="4" class="price text-right">
                    <b>НДС 20%:</b>
                  </td>
                  <td class="total"><%= @basket.sum*0.2 %></td>
                </tr>
                <tr>
                  <td colspan="4" class="price text-right">
                    <b>Total:</b>
                  </td>
                  <td class="total"><%= @basket.sum*1.2 %></td>
                </tr>
                </tfoot>
              </table>
            </div>
            <br>
            <div class="payment">
              <div class="buttons">
                <%= form.button :button, "Confirm Order", type: "submit", class: "btn btn-warning" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>


  </div>
</div>
