<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
      </ol>

      <div class="box-product product-list">

        <% @orders.each do |order| %>
          <div class="item">
            <div class="caption">
              <div class="name">
                <a href="<%= admin_order_path(order) %>"><%= order.name %> (by <%= order.user.name %>)</a>
              </div>
              <div class="description">
                <%= order.dest_address %>
              </div>

              <div class="price">
                <div>
                  <span class="price-fixed"><%= order.order_price %> BTC</span>
                </div>
              </div>

              <a class="btn btn-danger tooltip-right" title="" href="<%= edit_admin_order_path(order) %>">
                <i class="fa fa-heart-o"></i> <span>Edit</span>
              </a>

              <a class="btn btn-link" href="<%= admin_order_path(order) %>" data-method="delete">
                <i class="fa fa-files-o"></i> <span>Delete</span>
              </a>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>