<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>
    <div id="column-right" class="hidden-xs hidden-sm">
      <div class="box">
        <div class="box-heading">
          <span>Account</span>
        </div>

        <div class="box-content">
          <ul class="box-category treemenu">
            <li><a href="<%= user_session_path %>"><span>Login</span></a></li>
            <li><a href="<%= new_user_registration_path %>"><span>Register</span></a></li>
          </ul>
        </div>
      </div>

    </div>

    <div id="content">

      <ol class="breadcrumb">
        <li><a href="/app/assets/fonts">Home</a></li>
        <li><a href="<%= user_session_path %>">Login</a></li>
      </ol>

      <div class="page-header">
        <h1>Account Login</h1>
      </div>

      <div class="login-content row">
        <div class="left col-sm-6">
          <h3>New Customer</h3>
          <div class="content">
            <p class="help-block"><strong>Register Account</strong></p>
            <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
              <a href="<%= new_user_registration_path %>" class="btn btn-warning">Continue</a>
          </div>
        </div>

        <div class="right col-sm-6">
          <h3>Returning Customer</h3>

          <%= simple_form_for @user, url: user_session_path do |form| %>
            <div class="content">
              <p class="help-block"><strong>I am a returning customer</strong></p>
              <p class="text-danger"><%= @error_message %></p>

              <div class="form-group">
                <%= form.input :email, label: 'E-Mail Address:', placeholder: "Enter email", input_html: { class: 'form-control' } %>
              </div>

              <div class="form-group">
                <%= form.input :password, label: 'Password:', placeholder: "Enter password", input_html: { class: 'form-control' } %>
              </div>

              <div class="form-group">
                <%= form.button :button, "Log in", type: "submit", class: "btn btn-warning" %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>

