<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="<%= admin_products_path %>">Home</a></li>
        <li><a href="<%= admin_roles_path %>">Roles</a></li>
      </ol>

      <div class="page-header">
        <h1>Update role</h1>
      </div>

      <%= simple_form_for @role, url: admin_role_path(@role) do |form| %>
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Role's Details</h3>
              </div>
              <div class="panel-body">
                <div class="content">

                  <div class="form-group  ">
                    <%= form.input :name, input_html: { class: 'form-control' }, label: ' Name:', label_html: { class: 'label-control' } %>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">

                <input type="submit" value="Continue" class="btn btn-warning">
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>