<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="<%= admin_products_path %>">Home</a></li>
        <li><a href="<%= new_admin_role_path %>">Add role</a></li>
      </ol>

      <div class="box-product product-list">
        <% @roles.each do |role| %>
          <div class="item">
            <div class="caption">
              <div class="name">
                <a href="<%= admin_role_path(role) %>"><%= role.name %></a>
              </div>

              <a class="btn btn-danger tooltip-right" title="" href="<%= edit_admin_role_path(role) %>">
                <i class="fa fa-heart-o"></i> <span>Edit</span>
              </a>

              <a class="btn btn-link" href="<%= admin_role_path(role) %>" data-method="delete">
                <i class="fa fa-files-o"></i> <span>Delete</span>
              </a>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>