<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="<%= admin_products_path %>">Home</a></li>
        <li><a href="<%= new_admin_product_path %>">Add product</a></li>
      </ol>

      <div class="category-info clearfix">
        <h1>Pizza</h1>
        <p>
          <span style="font-family: arial, sans-serif; font-size: 13px; line-height: 16px;">Pizza - </span><span id="result_box" lang="en"><span class="hps">Pizza</span> <span class="hps">-</span> <span class="hps">Italian</span> <span class="hps">national dish </span><span class="hps">in the shape of</span><span class="hps"> circular</span> open-faced flat cake <span class="hps">covered</span> <span class="hps">in the classic version with</span> <span class="hps">tomatoes and</span> <span class="hps">melted cheese</span><span>.</span> <span class="hps">Cheese is</span> <span class="hps">the main ingredient</span> <span class="hps">of pizza.</span> <span class="hps">One</span> <span class="hps">of the most popular</span> <span class="hps">dishes in the world</span><span>.</span></span>
        </p>
      </div>


      <div class="product-filter clearfix">
        <div class="display">
          <div class="btn-group btn-group-sm">
            <span class="btn btn-default" disabled="disabled"><i class="fa fa-th-list"></i> List</span>
            <a class="btn btn-default" onclick="display('grid');"><i class="fa fa-th"></i> Grid</a>
          </div>
        </div>

        <div class="product-compare">
          <a class="btn btn-default btn-sm" href="index.html" id="compare-total">
            <i class="fa fa-files-o"></i> Product Compare (0)
          </a>
        </div>

        <div class="limit">
          <div class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="limit-goods" data-toggle="dropdown">
              <i class="fa fa-level-down"></i>&nbsp;Show:&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="limit-goods">
              <li class="disabled"><a tabindex="-1" href="#">20</a></li>
              <li><a tabindex="-1" href="#">25</a></li>
              <li><a tabindex="-1" href="#">50</a></li>
              <li><a tabindex="-1" href="#">75</a></li>
              <li><a tabindex="-1" href="#">100</a></li>
            </ul>
          </div>
        </div>

        <div class="sort">
          <div class="dropdown">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="sort-goods" data-toggle="dropdown">
              <i class="fa fa-sort-amount-desc"></i>&nbsp;Sort By:&nbsp;<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="sort-goods">
              <li class="disabled"><a tabindex="-1" href="#">Default</a></li>
              <li><a tabindex="-1" href="#">Name (A - Z)</a></li>
              <li><a tabindex="-1" href="#">Name (Z - A)</a></li>
              <li><a tabindex="-1" href="#">Price (Low &gt; High)</a></li>
              <li><a tabindex="-1" href="#">Price (High &gt; Low)</a></li>
              <li><a tabindex="-1" href="#">Rating (Highest)</a></li>
              <li><a tabindex="-1" href="#">Rating (Lowest)</a></li>
              <li><a tabindex="-1" href="#">Model (A - Z)</a></li>
              <li><a tabindex="-1" href="#">Model (Z - A)</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="box-product product-list">
        <% @products.each do |product| %>
          <div class="item">
            <div class="image">
              <a href="<%= admin_product_path(product) %>">
                <img src="<%= product.photo %>" title="<%= product.name %>" alt="<%= product.name %>">
              </a>
            </div>
            <div class="caption">
              <div class="name">
                <a href="<%= admin_product_path(product) %>"><%= product.name %></a>
              </div>
              <div class="description">
                <%= product.description %>
              </div>

              <div class="price">
                <div>
                  <span class="price-fixed"><%= product.price %> BTC</span>
                  <% if @products_in_basket.select{|product_in_basket| product_in_basket['id'] == product.id }.size > 0 %>
                    <span class="price-fixed">(You have <%= @products_in_basket.select{|product_in_basket| product_in_basket['id'] == product.id }.size %>)</span>
                  <% end %>
                </div>
              </div>

              <div class="cart">
                <%= simple_form_for :add, url: ('/admin/products/add/' + product.id.to_s) do |form| %>
                  <button class="btn btn-success" type="submit" >
                    <i class="fa fa-shopping-cart"></i> <span>Add to Cart</span>
                  </button>
                <% end %>

                <%= simple_form_for :delete, url: ('/admin/products/delete/' + product.id.to_s) do |form| %>
                  <button class="btn btn-danger" type="submit" >
                    <i class="fa fa-shopping-cart"></i> <span>Delete from Cart</span>
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        <% end %>

      </div>

      <script type="text/javascript">
          function display(view) {
              if (view == 'list')
              {
                  $('#content .product-grid').attr('class', 'product-list box-product');
                  $('.display').html('' +
                      '<div class="btn-group btn-group-sm">' +
                      '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th-list"></i> List</span>' +
                      '<a class="btn btn-default" onclick="display(\'grid\');"><i class="fa fa-th"></i> Grid</a>' +
                      '</div>'
                  );
                  $.totalStorage('display', 'list');
              }
              else
              {
                  $('#content .product-list').attr('class', 'product-grid box-product');
                  $('.display').html('' +
                      '<div class="btn-group btn-group-sm">' +
                      '<a class="btn btn-default" onclick="display(\'list\');"><i class="fa fa-th-list"></i> List</a>' +
                      '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th"></i> Grid</span>' +
                      '</div>'
                  );
                  $.totalStorage('display', 'grid');
              }
          }
          view = $.totalStorage('display');
          if (view) {
              display(view);
          } else {
              display('list');
          }
      </script>
    </div>
  </div>
</div>