<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
      </ol>

      <div class="box-product product-list">

        <div class="item">
          <div class="image">
            <a href="<%= admin_product_path(@product) %>">
              <img src="<%= @product.photo %>" title="<%= @product.name %>" alt="<%= @product.name %>">
            </a>
          </div>
          <div class="caption">
            <div class="name">
              <a href="<%= admin_product_path(@product) %>"><%= @product.name %></a>
            </div>
            <div class="description">
              <%= @product.description %>
            </div>

            <div class="price">
              <div>
                <span class="price-fixed"><%= @product.price %> BTC</span>
              </div>
            </div>

            <div class="cart">
              <button class="btn btn-success" type="button" onclick="addToCart('44');">
                <i class="fa fa-shopping-cart"></i> <span>Add to Cart</span>
              </button>

              <a class="btn btn-danger tooltip-right" title="" href="<%= edit_admin_product_path(@product) %>">
                <i class="fa fa-heart-o"></i> <span>Edit</span>
              </a>

              <a class="btn btn-link" href="<%= admin_product_path(@product) %>" data-method="delete">
                <i class="fa fa-files-o"></i> <span>Delete</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript">
        function display(view) {
            if (view == 'list')
            {
                $('#content .product-grid').attr('class', 'product-list box-product');
                $('.display').html('' +
                    '<div class="btn-group btn-group-sm">' +
                    '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th-list"></i> List</span>' +
                    '<a class="btn btn-default" onclick="display(\'grid\');"><i class="fa fa-th"></i> Grid</a>' +
                    '</div>'
                );
                $.totalStorage('display', 'list');
            }
            else
            {
                $('#content .product-list').attr('class', 'product-grid box-product');
                $('.display').html('' +
                    '<div class="btn-group btn-group-sm">' +
                    '<a class="btn btn-default" onclick="display(\'list\');"><i class="fa fa-th-list"></i> List</a>' +
                    '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th"></i> Grid</span>' +
                    '</div>'
                );
                $.totalStorage('display', 'grid');
            }
        }
        view = $.totalStorage('display');
        if (view) {
            display(view);
        } else {
            display('list');
        }
    </script>
  </div>
</div>