<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="<%= admin_products_path %>">Home</a></li>
        <li><a href="<%= new_admin_user_path %>">Add user</a></li>
      </ol>

      <div class="box-product product-list">
        <% @users.each do |user| %>
          <div class="item">
            <div class="caption">
              <div class="name">
                <a href="<%= admin_user_path(user) %>"><%= user.name %></a>
              </div>
              <div class="description">
                <%= user.email %>
              </div>

              <div class="price">
                <div>
                  <span class="price-fixed"><%= user.phone_number %></span>
                </div>
              </div>

              <a class="btn btn-danger tooltip-right" title="" href="<%= edit_admin_user_path(user) %>">
                <i class="fa fa-heart-o"></i> <span>Edit</span>
              </a>

              <a class="btn btn-link" href="<%= admin_user_path(user) %>" data-method="delete">
                <i class="fa fa-files-o"></i> <span>Delete</span>
              </a>
            </div>
          </div>
        <% end %>

      </div>

      <script type="text/javascript">
          function display(view) {
              if (view == 'list')
              {
                  $('#content .product-grid').attr('class', 'product-list box-product');
                  $('.display').html('' +
                      '<div class="btn-group btn-group-sm">' +
                      '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th-list"></i> List</span>' +
                      '<a class="btn btn-default" onclick="display(\'grid\');"><i class="fa fa-th"></i> Grid</a>' +
                      '</div>'
                  );
                  $.totalStorage('display', 'list');
              }
              else
              {
                  $('#content .product-list').attr('class', 'product-grid box-product');
                  $('.display').html('' +
                      '<div class="btn-group btn-group-sm">' +
                      '<a class="btn btn-default" onclick="display(\'list\');"><i class="fa fa-th-list"></i> List</a>' +
                      '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th"></i> Grid</span>' +
                      '</div>'
                  );
                  $.totalStorage('display', 'grid');
              }
          }
          view = $.totalStorage('display');
          if (view) {
              display(view);
          } else {
              display('list');
          }
      </script>
    </div>
  </div>
</div>