<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="<%= admin_products_path %>">Home</a></li>
        <li><a href="<%= admin_users_path %>">Users</a></li>
      </ol>

      <div class="page-header">
        <h1>New user</h1>
      </div>

      <%= simple_form_for @user, url: '/admin/users' do |form| %>
        <div class="row">
          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Your Personal Details</h3>
              </div>
              <div class="panel-body">
                <div class="content">
                  <div class="form-group  ">
                    <%= form.input :name, input_html: { class: 'form-control' }, label: ' Name:', label_html: { class: 'label-control' } %>
                  </div>

                  <div class="form-group  ">
                    <div class="form-group  ">
                      <%= form.input :email, input_html: { class: 'form-control' }, label: ' Email:', label_html: { class: 'label-control' } %>
                    </div>
                  </div>

                  <div class="form-group  ">
                    <div class="form-group  ">
                      <%= form.input :phone_number, input_html: { class: 'form-control' }, label: ' Telephone:', label_html: { class: 'label-control' } %>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Your Password</h3>
              </div>
              <div class="panel-body">
                <div class="content">

                  <div class="form-group  ">
                    <%= form.input :password, input_html: { class: 'form-control' }, label: ' Password:', label_html: { class: 'label-control' } %>
                  </div>

                  <div class="form-group  ">
                    <%= form.input :password_confirmation, input_html: { class: 'form-control' }, label: ' Confirm password:', label_html: { class: 'label-control' } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">

                <input type="submit" value="Continue" class="btn btn-warning">
              </div>
            </div>
          </div>
        </div>
      <% end %>

    </div>

  </div>
</div>