<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="<%=  %>">Home</a></li>
      </ol>

      <div class="category-info clearfix">
        <h1>Pizza</h1>
        <p>
          <span style="font-family: arial, sans-serif; font-size: 13px; line-height: 16px;">Pizza - </span><span id="result_box" lang="en"><span class="hps">Pizza</span> <span class="hps">-</span> <span class="hps">Italian</span> <span class="hps">national dish </span><span class="hps">in the shape of</span><span class="hps"> circular</span> open-faced flat cake <span class="hps">covered</span> <span class="hps">in the classic version with</span> <span class="hps">tomatoes and</span> <span class="hps">melted cheese</span><span>.</span> <span class="hps">Cheese is</span> <span class="hps">the main ingredient</span> <span class="hps">of pizza.</span> <span class="hps">One</span> <span class="hps">of the most popular</span> <span class="hps">dishes in the world</span><span>.</span></span>
        </p>
      </div>

      <div class="box-product product-list">
        <% @products.each do |product| %>
          <div class="item">
            <div class="image">
              <a href="/products/<%= product.id %>">
                <img src="<%= product.photo %>" title="<%= product.name %>" alt="<%= product.name %>">
              </a>
            </div>
            <div class="caption">
              <div class="name">
                <a href="/products/<%= product.id %>"><%= product.name %></a>
              </div>
              <div class="description">
                <%= product.description %>
              </div>

              <div class="price">
                <div>
                  <span class="price-fixed"><%= product.price %> BTC</span>
                  <% if @products_in_basket.select{|product_in_basket| product_in_basket['id'] == product.id }.size > 0 %>
                    <span class="price-fixed">(You have <%= @products_in_basket.select{|product_in_basket| product_in_basket['id'] == product.id }.size %>)</span>
                  <% end %>
                </div>
              </div>

              <div class="cart">
                <%= simple_form_for :add, url: ('/add/' + product.id.to_s) do |form| %>
                  <button class="btn btn-success" type="submit" >
                    <i class="fa fa-shopping-cart"></i> <span>Add to Cart</span>
                  </button>
                <% end %>

                <%= simple_form_for :delete, url: ('/delete/' + product.id.to_s) do |form| %>
                  <button class="btn btn-danger" type="submit" >
                    <i class="fa fa-shopping-cart"></i> <span>Delete from Cart</span>
                  </button>
                <% end %>
              </div>

            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>