<div id="container" class="content">
  <div class="container">
    <div id="notification"></div>

    <div id="content">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
      </ol>

      <div class="box-product product-list">

        <div class="item">
          <div class="image">
            <a href="/products/<%= @product.id %>">
              <img src="<%= @product.photo %>" title="<%= @product.name %>" alt="<%= @product.name %>">
            </a>
          </div>
          <div class="caption">
            <div class="name">
              <a href="/products/<%= @product.id %>"><%= @product.name %></a>
            </div>
            <div class="description">
              <%= @product.description %>
            </div>

            <div class="price">
              <div>
                <span class="price-fixed"><%= @product.price %> BTC</span>
              </div>
            </div>

            <div class="cart">
              <%= simple_form_for :add, url: ('/add/' + @product.id.to_s) do |form| %>
                <button class="btn btn-success" type="submit" >
                  <i class="fa fa-shopping-cart"></i> <span>Add to Cart</span>
                </button>
              <% end %>

              <%= simple_form_for :delete, url: ('/delete/' + @product.id.to_s) do |form| %>
                <button class="btn btn-danger" type="submit" >
                  <i class="fa fa-shopping-cart"></i> <span>Delete from Cart</span>
                </button>
              <% end %>
            </div>

          </div>
        </div>
      </div>

    </div>

    <script type="text/javascript">
        function display(view) {
            if (view == 'list')
            {
                $('#content .product-grid').attr('class', 'product-list box-product');
                $('.display').html('' +
                    '<div class="btn-group btn-group-sm">' +
                    '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th-list"></i> List</span>' +
                    '<a class="btn btn-default" onclick="display(\'grid\');"><i class="fa fa-th"></i> Grid</a>' +
                    '</div>'
                );
                $.totalStorage('display', 'list');
            }
            else
            {
                $('#content .product-list').attr('class', 'product-grid box-product');
                $('.display').html('' +
                    '<div class="btn-group btn-group-sm">' +
                    '<a class="btn btn-default" onclick="display(\'list\');"><i class="fa fa-th-list"></i> List</a>' +
                    '<span class="btn btn-default" disabled="disabled"><i class="fa fa-th"></i> Grid</span>' +
                    '</div>'
                );
                $.totalStorage('display', 'grid');
            }
        }
        view = $.totalStorage('display');
        if (view) {
            display(view);
        } else {
            display('list');
        }
    </script>
  </div>
</div>