<h2><%= @user.name %>'s order</h2>
<p>Your order is accepted. Please, wait!</p>
<p>Order: </p>
<table>
  <tr>
    <td>Name</td>
    <td>Phone number</td>
    <td>Destination Address</td>
    <td>Total price</td>
  </tr>
  <tr>
    <td><%= @order.name %></td>
    <td><%= @order.phone_number %></td>
    <td><%= @order.dest_address %></td>
    <td><%= @order.order_price %></td>
  </tr>
</table>