<div id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="column">
          <h4>Information</h4>
          <ul>
            <li><a href="">About Us</a></li>
            <li><a href="">Wide page</a></li>
            <li><a href="">Right column</a></li>
            <li><a href="">Typography </a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="column">
          <h4>Customer Service</h4>
          <ul>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Returns</a></li>
            <li><a href="">Site Map</a></li>
          </ul>
        </div>
      </div>
      <% if (user = current_user) && (user.has_role? :admin) %>
        <div class="col-sm-3">
          <div class="column">
            <h4>Admin</h4>
            <ul>
              <li><a href="<%= admin_users_path %>">Users</a></li>
              <li><a href="<%= admin_products_path %>">Products</a></li>
              <li><a href="<%= admin_orders_path %>">Orders</a></li>
              <li><a href="<%= admin_roles_path %>">Roles</a></li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="col-sm-3">
          <div class="column">
            <h4>Menu</h4>
            <ul>
              <li><a href="/">Products</a></li>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="col-sm-3">
        <div class="column">
          <h4>My Account</h4>
          <ul>
            <% unless current_user %>
              <li><a href="<%= new_user_session_path %>">Login</a></li>
              <li><a href="<%= new_user_registration_path %>">Register</a></li>
            <% end %>
            <li><a href="<%= basket_path %>">Basket</a></li>
            <li><a href="<%= checkout_path %>">Checkout</a></li>
            <% if current_user %>
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-9 ">
        <div id="about">
          <h3>Order pizza online</h3>
          <p>
                               <span id="result_box" lang="en">
                                    <span class="hps">You are welcome to site</span>
                                    <span class="hps">of pizza </span>
                                    <span class="hps">and Japanese cuisine</span>
                                    <span class="hps">in your city.</span>
                                    <span class="hps">Here you always</span>
                                    <span class="hps">can order&nbsp;</span>
                                    <span class="hps">pizza,</span>
                                    <span class="hps">sushi, rolls</span>
                                    <span class="hps">and beverages for home delivery.</span>
                                    <span class="hps">Pepperoni</span>
                                    <span>,</span>
                                    <span class="hps">Margarita</span>
                                    <span>, 4</span>
                                    <span class="hps">cheese</span>
                                    <span class="hps">and others.</span>
                                    <span class="hps">In the menu</span>
                                    <span class="hps">of Japanese cuisine</span>
                                    <span class="hps">you can order</span>
                                    <span class="hps">sushi with</span>
                                    <span class="hps">salmon and eel</span>
                                    <span>, classic</span>
                                    <span class="hps">California</span>
                                    <span class="hps">and</span>
                                    <span class="hps">Philadelphia </span>
                                </span>
            <span id="result_box" lang="en">
                                    <span class="hps">rolls</span>
                                    <span>,</span>
                                    <span class="hps">as well as</span>
                                    <span class="hps">warm rolls</span>
                                    <span class="hps">Tempura</span>
                                    <span>.</span>
                                    <span class="hps">You will be pleased</span>
                                    <span class="hps">with the</span>
                                    <span class="hps">new </span>
                                    <span class="hps">sushi</span>
                                    <span class="hps">with spicy and</span>
                                    <span class="hps">fragrant sauce</span>
                                    <span>.</span>
                                    <span class="hps">Free</span>
                                    <span class="hps">pizza </span>
                                </span>
            <span id="result_box" lang="en">
                                    <span class="hps">and Japanese cuisine </span>
                                    <span>delivery</span>
                                    <span> in your city </span>
                                    <span class="hps">.</span>
                                </span>
          </p>
        </div>
      </div>
      <div class="col-sm-3 text-right">
        <div id="powered">
          <a href="https://gitlab.com/dan_kushaet_banan" title="Dan's Gitlab">Designed by Dan</a>
          <br>
          Krypto Pizza © 2021
        </div>
      </div>
    </div>
  </div>
</div>
