<div class="header" style="margin-top: 100px">
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <div class="header-left">
          <div id="address">
            <p><strong>Hours of operation:</strong></p>
            <p>mon.-fr. <strong>12:00 - 18:00</strong>, sat.-sun. <strong>9:00 - 19:00</strong></p>
          </div>
          <div id="phone"><span>(044)</span> 512-67-77</div>
        </div>
      </div>

      <div class="col-sm-4">
        <div id="logo">
          <a href="<%= root_path %>"><img src="/img/logo_pizza.png" title="Crypto Pizza" alt="Crypto Pizza"></a>
        </div>
      </div>

      <div class="col-sm-4">
        <div id="search">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Search" value="">
            <span class="input-group-btn">
                                    <button class="btn btn-default button-search" type="button"><span class="fa fa-search"></span></button>
                                </span>
          </div>
        </div>

        <div class="header-right">
          <div id="welcome">
            Welcome visitor you can <a href="<%= user_session_path %>">login</a> or <a href="<%= new_user_registration_path %>">create an account</a>.
          </div>

          <div class="links">
            <a id="link-cart" href="<%= basket_path %>">
              <i class="fa fa-shopping-cart"></i> Basket
            </a><br>
            <a id="link-checkout" href="<%= checkout_path %>">
              <i class="fa fa-credit-card"></i> Checkout
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>