<div class="navbar navbar-inverse navbar-fixed-top topbar">
  <div class="container">

    <!-- cart -->
    <div id="cart">
      <div class="heading">
        <a title="Shopping Cart" href="<%= basket_path %>">
                           <span id="cart-total">
                               <i class="fa fa-shopping-cart fa-lg"></i>&nbsp;
                               <span class="hidden-xs"><%= @basket.size %> item(s) - <%= @basket.sum %> BTC</span>
                           </span>
        </a>
      </div>

      <div class="content">
        <div class="inner">
          <div class="empty">Your shopping cart is empty!</div>
        </div>
      </div>
    </div>

    <!-- menu -->
    <div id="menu" class="menu-container">
      <button type="button" class="menu-toggle" data-toggle="collapse" data-target="#menu-mobile">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse menu-collapse" id="menu-mobile">
        <ul class="nav nav-pills">
          <li><a href="/">Pizza</a></li>
        </ul>
      </div>
    </div>
    <div class="divider hidden-sm hidden-xs"></div>

  </div>
</div>
