<!DOCTYPE html>
<html>
<head>
  <title>Krypto Pizza</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render partial: '/layouts/navbar' %>

<%= render partial: '/layouts/header' %>

<%= yield %>

<%= render partial: '/layouts/footer' %>
</body>

</html>
